##############################
## Java
##############################
*.class
*.jar
*.war

##############################
## Maven
##############################
target/

##############################
## Eclipse
##############################
.settings/
bin/
.classpath
.project


##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace